@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .link-hover{
        @apply hover:text-orange-400
    }
}

:root {
    --ratio: 0.6;

    --font1-sizeVW: 15vh;
    --font1-sizeVH: calc(var(--ratio) * 15vw);

    --font3-sizeVW:10vh;
    --font3-sizeVH: calc(var(--ratio)* 10vw);
    
    --font2-sizeVW: 8vh;
    --font2-sizeVH: calc(var(--ratio) * 6vw);
}

@media screen and (max-width: 685px) {  

    #number {  
        font-size: var(--font1-sizeVH); 
    } 

    #text {  
        font-size: var(--font2-sizeVH);
    } 

    #title{
        font-size: var(--font3-sizeVH);
    }
}

@media screen and (min-width: 600px) and (max-width: 1440px) {  

    #number {  
        font-size: calc(var(--ratio)* 6vw); 
        font-weight: bold;
    } 

    #text {  
        font-size: calc(var(--ratio)* 2vw);
    } 

    #title{
        font-size: calc(var(--ratio)* 3vw);
    }
}